In [2]:
import pandas as pd
from itertools import cycle
import itertools as it
import random

def list_cycle(li):
    x = li[0]
    li.remove(x)
    li.append(x)
    return(li)
#list names["Adithya VT", ""]     #to enter the names
#list department["OCT & FFA","AR",]    # to enter the dept
data = pd.read_excel("E:\Dr. Agarwals Internship\Timetable.xlsx", sheet_name = "Dhanisha Mam")

In [3]:
name = list(data['Name'])
dept = list(data['07 to 13'].unique())
dept.extend(['OCT & FFA','Instrument','AR','Ref/OP']) #double the dept

# zip() combining list, after Repetitiveness using cycle()
res = [ele for comb in zip(cycle(dept), name) for ele in comb]

n = 2
split_list = [res[i:i + n] for i in range(0, len(res), n)]

tuple_split = []
for i in split_list:
    tup = tuple(i)
    tuple_split.append(tup)
    
names = []
Department = []

for i in tuple_split:
    Department.append(i[0])
    names.append(i[1])
    
list_shifts = []

for i in range(0,4):
    x = list(list_cycle(Department))
    list_shifts.append(x)
    
df = {"Name": names}
for i in range(0,4):
    df.update({"shift_%s"%str(i+1):list_shifts[i]})
    dataset = pd.DataFrame(df)

print(dataset)

               Name     shift_1     shift_2     shift_3     shift_4
0        Adithya VT        Ref4        Ref5        Ref6        Ref7
1          Alphy MF        Ref5        Ref6        Ref7        Ref8
2     Fathima Serin        Ref6        Ref7        Ref8      Ref/OP
3              Hiba        Ref7        Ref8      Ref/OP   OCT & FFA
4             Lubna        Ref8      Ref/OP   OCT & FFA  Instrument
5            Malini      Ref/OP   OCT & FFA  Instrument          AR
6            Naslin   OCT & FFA  Instrument          AR        Ref1
7    Senthamil Babu  Instrument          AR        Ref1        Ref2
8          Selma PY          AR        Ref1        Ref2   OCT & FFA
9          Shameema        Ref1        Ref2   OCT & FFA  Instrument
10  Shamla Sherin K        Ref2   OCT & FFA  Instrument          AR
11          Shifana   OCT & FFA  Instrument          AR      Ref/OP
12          Sherina  Instrument          AR      Ref/OP        Ref3
13      Sreelakshmi          AR      Ref/OP        Ref3        Ref4
14          Subuina      Ref/OP        Ref3        Ref4        Ref5
15         Sunithra        Ref3        Ref4        Ref5        Ref6

In [4]:
dataset

               Name     shift_1     shift_2     shift_3     shift_4
0        Adithya VT        Ref4        Ref5        Ref6        Ref7
1          Alphy MF        Ref5        Ref6        Ref7        Ref8
2     Fathima Serin        Ref6        Ref7        Ref8      Ref/OP
3              Hiba        Ref7        Ref8      Ref/OP   OCT & FFA
4             Lubna        Ref8      Ref/OP   OCT & FFA  Instrument
5            Malini      Ref/OP   OCT & FFA  Instrument          AR
6            Naslin   OCT & FFA  Instrument          AR        Ref1
7    Senthamil Babu  Instrument          AR        Ref1        Ref2
8          Selma PY          AR        Ref1        Ref2   OCT & FFA
9          Shameema        Ref1        Ref2   OCT & FFA  Instrument
10  Shamla Sherin K        Ref2   OCT & FFA  Instrument          AR
11          Shifana   OCT & FFA  Instrument          AR      Ref/OP
12          Sherina  Instrument          AR      Ref/OP        Ref3
13      Sreelakshmi          AR      Ref/OP        Ref3        Ref4
14          Subuina      Ref/OP        Ref3        Ref4        Ref5
15         Sunithra        Ref3        Ref4        Ref5        Ref6

In [5]:
dataset.to_csv("Time-Table-01.csv", index=False)

# The function below is the only one needed for getting the Schedule, 
# description of the same is available using - scheduler??

In [6]:
def scheduler(names_list, dept_list, extension_list = None, excel_file_name = None):
    '''This function is used to obtain a schedule on a weekly basis (shifts) for a month. Parameters are changable. Enter the list of names(within sqaure brackets, separated by commas) as the first argument, then the list of department names, then list of the departments that need to be repeated(optional, change order is you find any difficulties) and the file name for the excel sheet(optional)Example: scheduler(['Name'], ['07','13'],['OCT & FFA','Instrument','AR','Ref/OP'])'''
    name = list(names_list)
    dept = list(dept_list)
    dept.extend(extension_list)
    
    import pandas as pd
    from itertools import cycle
    import itertools as it
    import random

    def list_cycle(li):
        x = li[0]
        li.remove(x)
        li.append(x)
        return(li)

    # zip() combining list, after Repetitiveness using cycle()
    res = [ele for comb in zip(cycle(dept), name) for ele in comb]

    n = 2
    split_list = [res[i:i + n] for i in range(0, len(res), n)]

    tuple_split = []
    for i in split_list:
        tup = tuple(i)
        tuple_split.append(tup)

    names = []
    Department = []

    for i in tuple_split:
        Department.append(i[0])
        names.append(i[1])
    
    list_shifts = []

    for i in range(0,4):
        x = list(list_cycle(Department))
        list_shifts.append(x)
    
    df = {"Name": names}
    for i in range(0,4):
        df.update({"shift_%s"%str(i+1):list_shifts[i]})
        dataset = pd.DataFrame(df)

    print(dataset)
    
    dataset.to_csv(excel_file_name, index=False)

In [7]:
scheduler(data['Name'], data['07 to 13'].unique(),['OCT & FFA','Instrument','AR','Ref/OP'])

               Name     shift_1     shift_2     shift_3     shift_4
0        Adithya VT        Ref4        Ref5        Ref6        Ref7
1          Alphy MF        Ref5        Ref6        Ref7        Ref8
2     Fathima Serin        Ref6        Ref7        Ref8      Ref/OP
3              Hiba        Ref7        Ref8      Ref/OP   OCT & FFA
4             Lubna        Ref8      Ref/OP   OCT & FFA  Instrument
5            Malini      Ref/OP   OCT & FFA  Instrument          AR
6            Naslin   OCT & FFA  Instrument          AR        Ref1
7    Senthamil Babu  Instrument          AR        Ref1        Ref2
8          Selma PY          AR        Ref1        Ref2   OCT & FFA
9          Shameema        Ref1        Ref2   OCT & FFA  Instrument
10  Shamla Sherin K        Ref2   OCT & FFA  Instrument          AR
11          Shifana   OCT & FFA  Instrument          AR      Ref/OP
12          Sherina  Instrument          AR      Ref/OP        Ref3
13      Sreelakshmi          AR      Ref/OP        Ref3        Ref4
14          Subuina      Ref/OP        Ref3        Ref4        Ref5
15         Sunithra        Ref3        Ref4        Ref5        Ref6